<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to <%=app_name %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut felis
      mi. Vestibulum varius imperdiet justo at pellentesque. Donec lacinia
      vel sapien sed iaculis. Etiam vitae gravida arcu. Pellentesque
      condimentum viverra ligula, sed euismod neque porta vitae.
    </p>
    <p>
      <%%= link_to 'Learn more',
        page_path('about'),
        class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
